<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="Simone Licciardi - Mathematical Engineering Student">
  <meta name="author" content="Simone Licciardi">
  <meta property="og:title" content="Simone Licciardi" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://simone-licciardi.github.io" />
  <meta property="og:site_name" content="Simone Licciardi" />
  <link rel="canonical" href="https://simone-licciardi.github.io" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/libs/external/skeleton/normalize.css">
  <link rel="stylesheet" href="/libs/external/skeleton/skeleton.css">
  <link rel="stylesheet" href="/libs/custom/my_css.css">
  <link rel="stylesheet" href="/libs/external/fontawesome-free-6.6.0-web/css/all.min.css">
  <link rel="stylesheet" href="/libs/external/academicons-1.8.6/css/academicons.min.css">
  <link rel="stylesheet" href="/libs/external/skeleton_tabs/skeleton-tabs.css">
  <link rel="stylesheet" href="/libs/external/timeline.css">
  <link rel="icon" type="image/png" href="/libs/icon.png">
</head>
<body>
  {{ content }}
  <script src="/libs/external/jquery-3.1.1.min.js"></script>
  <script src="/libs/external/skeleton_tabs/skeleton-tabs.js"></script>
  <script src="/libs/custom/my_js.js"></script>
  {% include google_analytics.html %}
  <span id="62cd7b7da1aff3196fdc26b60e396df9"></span>
</body>
</html>
